@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
     @* HTML anchor tag styled with Bootstrap classes. *@
    <a asp-action="Expenses" class="btn btn-primary">Overview</a>
    <a asp-action="CreateEditExpense" class="btn btn-secondary">Create new</a>
</div>
